@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292b2c;
}

img {
    width: 2.5rem;
    height: 2.5rem;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Open Sans';
}

input {
    outline: none;
    border: none;
}

progress {
    width: 100%;
    height: 0.5rem;
}

nav i,
.menu i {
    font-size: 1.5rem;
}

nav a {
    margin-left: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Roboto';
}

.container {
    margin: 0 4rem;
}

.content {
    justify-content: space-between;
}

.menu {
    width: fit-content;
}

.notification-dot {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    bottom: 1rem;
    left: 0.8rem;
    border-radius: 100%;
}

.vertical-line {
    width: 0.1rem;
    height: 2rem;
    background-color: white;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #4c5258;
}

.small-vertical-line {
    width: 0.1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.162);
}

.projects {
    width: 50%;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px solid #4c5258;
    background-color: #4c5258;
}

.projects input {
    background-color: #292b2c;
}

.input-container {
    padding: 0.5rem;
    background-color: #292b2c;
}


/* gradiants */

.cart-gradient {
    background: #292b2c;
    margin: 0.5rem;
    width: 19rem;
}


/* light blue */

.light-blue-gradient {
    background: linear-gradient(50deg, #292b2c 75%, rgba(0, 255, 235, 1) 100%);
}

.light-blue-gradient progress {
    accent-color: rgba(0, 255, 235, 1);
}

.light-blue-gradient .group-plus {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(0, 255, 235, 1);
}


/* yellow */

.yellow-gradient {
    background: linear-gradient(50deg, #292b2c 75%, rgb(246, 255, 0) 100%);
}

.yellow-gradient progress {
    accent-color: rgb(246, 255, 0);
}

.yellow-gradient .group-plus {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(246, 255, 0);
}


/* red */

.red-gradient {
    background: linear-gradient(50deg, #292b2c 75%, rgb(255, 0, 0) 100%);
}

.red-gradient progress {
    accent-color: rgb(255, 0, 0);
}

.red-gradient .group-plus {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(255, 0, 0);
}


/* dark blue */

.dark-blue-gradient {
    background: linear-gradient(50deg, #292b2c 75%, rgb(0, 30, 255) 100%);
}

.dark-blue-gradient progress {
    accent-color: rgb(0, 30, 255);
}

.dark-blue-gradient .group-plus {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(0, 30, 255);
}

.glass-morphism-effect {
    background: rgba( 24, 11, 11, 0.25);
    backdrop-filter: blur( 25px);
    -webkit-backdrop-filter: blur( 25px);
    padding: 0.7rem;
    height: 13rem;
}

.group-profiles :nth-child(2) {
    transform: translateX(-1rem);
}

.days-left {
    padding: 0.5rem;
    font-size: x-small;
    background-color: #4c5258;
}

.messages {
    width: 40%;
}

.message-box:hover {
    background: linear-gradient(330deg, #292b2c 75%, rgba(0, 255, 235, 1) 100%);
}

.message-box:hover .horizontal-line {
    background-color: transparent;
}

.glass {
    padding: 0.8rem;
}

.glass div {
    width: 100%;
}

.glass:hover {
    background: rgba( 24, 11, 11, 0.25);
    backdrop-filter: blur( 25px);
    -webkit-backdrop-filter: blur( 25px);
}


/* utilities */


/* flex box */

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-start {
    justify-self: start;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-start {
    align-self: flex-start;
}


/* end flex box */

.text-small {
    font-size: small;
}

.text-x-small {
    font-size: x-small;
}

.text-white {
    color: aliceblue;
}

.text-capitalize {
    text-transform: capitalize;
}

.cursor-pointer {
    cursor: pointer;
}

.posision-relative {
    position: relative;
}

.border-100 {
    border-radius: 100%;
}

.rounded-border {
    border-radius: 1rem;
}


/* margins */

.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.m-3 {
    margin: 1.5rem;
}

.m-4 {
    margin: 2rem;
}

.m-5 {
    margin: 2.5rem;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mt-4 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 2.5rem;
}

.ml-1 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.ml-3 {
    margin-left: 1.5rem;
}

.ml-4 {
    margin-left: 2rem;
}

.ml-5 {
    margin-left: 2.5rem;
}

.ml-auto {
    margin-left: auto;
}

.my-1 {
    margin: 0.5rem 0;
}

.my-2 {
    margin: 1rem 0;
}

.my-3 {
    margin: 1.5rem 0;
}

.my-4 {
    margin: 2rem 0;
}

.my-5 {
    margin: 2.5rem 0;
}


/* fonts */

.font-family-roboto {
    font-family: 'Roboto';
}

.font-bold {
    font-weight: 800;
}


/* responsive */


/* big screens */

@media only screen and (max-width:1190px) {
    .content {
        justify-content: center;
    }
}


/* tablet */

@media only screen and (max-width:912px) {
    .menu {
        display: none;
    }
    .projects {
        width: 100%;
    }
    .messages {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .container {
        margin: 0 1.5rem;
    }
    nav i {
        font-size: 1rem;
    }
    nav a {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
}